body {
    background-color: #e4b1c5
}

header {
    color: #8d0909
}
.link {
    border-width: 3px;
    border-color: #8d0909;
    border-radius: 2px;
    background-color: #eebfd2;
    color:#8d0909;
}
.link:hover {
    color:#ffe7f1;
}