body {
    background-color: #fca9b4;
}

header {
    color: #8d0909;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
    margin: 5px;
    display:flex;
    background-color:#e4b1c5;
    padding: 7px;
    justify-content: center;
}
h1 {
    font-size: 40px;
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #e4b1c5;
    padding: 5px;
}
.flex-container > div{
    border-width: 3px;
    border-style: solid;
    border-color: #8d0909;
    border-radius: 5px;
    background-color: #eebfd2;
    color:#8d0909;
    padding: 6px;
    transition: height 1.5s ease;
    overflow:auto;
    height: 25px;
    width: 160px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}

.flex-container > div:hover {
    color:#ffe7f1;
     border-color: #8d0909;
    border-radius: 5px;
    height: 100px;
}     
flex-container > div:hover {
    background-color: #8d0909;
    color: #e4b1c5;
}
#title {
    font-size: 20px;
}
