body {
    background-color: #fca9b4;
}

header {
    color: #8d0909;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
    margin: 5px;
    display:flex;
    background-color:#e4b1c5;
    padding: 7px;
    justify-content: center;
}
h1 {
    font-size: 40px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow:unset;
    justify-content: center;
    background-color: #e4b1c5;
    padding: 5px;
}
.flex-container > div{
    border-width: 3px;
    border-style: solid;
    border-color: #8d0909;
    border-radius: 5px;
    background-color: #eebfd2;
    color:#8d0909;
    padding: 4px;
    transition: height 1.5s ease;
     overflow: scroll;
     height: 20px;
  width: 100px;
  margin: 10px auto;
 
  text-align: center;
    
}
.flex-container > div:hover {
    color:#ffe7f1;
     border-color: #8d0909;
    border-radius: 5px;
    height: 200px;
}     
.do4 {
    padding: 3px;
}
.do4:hover {
  height: 600px;
}
.do3:hover {
    height: 300px;
}
link > a :hover {
    background-color: #8d0909;
    color: #e4b1c5;
}
